<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ui</key>
	<dict>
		<key>test</key>
		<dict>
			<key>class</key>
			<string>ViewController</string>
			<key>scheme</key>
			<string>root</string>
		</dict>
		<key>vc-a</key>
		<dict>
			<key>class</key>
			<string>ViewController_A</string>
			<key>view</key>
			<string>ViewController_A</string>
		</dict>
		<key>vc-b</key>
		<dict>
			<key>class</key>
			<string>ViewController_B</string>
		</dict>
		<key>vc-c</key>
		<dict>
			<key>class</key>
			<string>ViewController_C</string>
			<key>view</key>
			<string>ViewController_C</string>
		</dict>
	</dict>
	<key>register</key>
	<dict>
		<key>r_test_1</key>
		<dict>
			<key>class</key>
			<string>TestRegisterObject_1</string>
		</dict>
	</dict>
	<key>services</key>
	<array>
		<dict>
			<key>class</key>
			<string>ZCHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IZCHttpTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
	</array>
</dict>
</plist>
